@media (max-width: 625px) {
  .home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background-color: #2176ff;
  }
  .app-title {
    color: white;
    font-family: "Satisfy", cursive;
  }
  .mini-profile {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dp {
    width: 47px;
    height: 47px;
    margin-right: 3vw;
    border-radius: 50%;
    border: 2px solid skyblue;
  }
  .username {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  .search-container {
    margin: 5px 5px 0px 5px;
    border-bottom: 1px solid #e0e2e8;
  }
  .search {
    color: #5c6785;
    font-size: large;
    height: 7vh;
    width: 85%;
    border: 0px;
    outline: none;
  }
  .search-btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    padding: 0px;
    color: #2176ff;
  }
  .search-btn:hover {
    background: none;
    border: 1px solid #c8cbd4;
    padding: 5px;
    margin-bottom: 4px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  .profiles {
    margin-top: 1vh;
    width: 100%;
  }

  .small-menu {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .fixed-btn {
    border: none;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0px 2vw;
    color: white;
    font-size: 1.5rem;
  }

  .fixed-btn-a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 65px;
    border: none;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0px 2vw;
  }

  .chat {
    display: inline;
    height: 100%;
  }
  .exit-btn {
    background: none;
    border: none;
    outline: none;
    margin-right: .5vw;
    color: white;
    font-size: large;
    height: 3rem;
    width: 3rem;
  }

  .exit-btn:hover {
    /* background: rgba(185, 199, 209, 0.2); */
    background-color: rgb(3, 79, 201);
    border-radius: 50%;
    outline: none;
    margin-right: 1vw;
    color: white;
    font-size: large;
    height: 3rem;
    width: 3rem;
  }
  .header-msg {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2px;
    background-color: #2176ff;
  }
  .mini-profile-msg {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chat-session{
    width: 100%;
    /* background-color: #f0f1f3; */
    max-height: 74vh;
    overflow-x: scroll;
  }
  .messaging-session{
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0px;
    height: 12.5vh;
    width: 100%;
    border: 1px solid #e0e2e8;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0px 0px;
  }
  .message-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .msg-input{
    height: 9vh;
    padding: 0px 10px;
    width: 58vw;
    font-size: 1.2rem;
    border: 2px solid #e0e2e8;
    border-radius: 30px;
    outline: none;
  }
  .send-btn{
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border: 1px solid #e0e2e8;
    outline: none;
    border-radius: 50%;
  }
}
