.login {
  border-radius: 10px;
  box-sizing: content-box;
  height: 90%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:linear-gradient(to right, #267871, #136a8a);
  box-shadow:0px 2px 10px rgba(0,0,0,0.2), 0px 10px 20px rgba(0,0,0,0.3), 0px 30px 60px 1px rgba(0,0,0,0.5);
}
.login-title {
    text-align: center;
    margin-top: 2vh;
    margin-right: 10vw;
    color: skyblue;
    font-family: 'Satisfy', cursive;
    height: 8vh;
    line-height: 8vh;
    padding-left: 5vw;
    font-weight: bolder;
    font-size: larger;
    /* color: white; */
  }
.login-container {
  width: 100%;
  height:60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-color{
  /* background-color: #ABCDEF; */
  background-color: white;
  height: 100dvh;
}
.login-input-container{
  width: 80%;
}
.login-h3{
  color: white;
  text-align: center;
}
.login-input-container{
  width: 60%;
  height: 9dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.login-input{
 font-size: .9rem;
  height: 5dvh;
  width: 60dvw;
  border-top: none;
  border-left:none ;
  border-right: none;
  color: white;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
}
.login-input::placeholder{
  font-size: larger;
 color:white;
}
.login-btn{
background: none;
width: 50%;
height:7dvh;
border:2px solid white ;
color: white;
font-weight: bold;
font-size: large;
border-radius: 10px;
cursor: pointer;
}

.login-btn:hover{
  background: white;
  color: #267871;
}
.forgot-password{
 text-decoration: none;
 color: white;
}
.or{
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-top: 4vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or::before{
  content: " " ;
  display: block;
  position: absolute;
  margin-right: 37vw;
  height: 1px;
  width: 27vw;
 background: white;
}

.or::after{
  content: " " ;
  display: block;
  position: absolute;
  margin-left: 37vw;
  height: 1px;
  width: 27vw;
  background: white;
}

.login-btn-container{
  margin-top:5vh ;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.click-here{
  font-weight: bold;
  color: #ABCDEF;
  text-decoration: none;
  margin-left: .4rem;
}
@media (max-width: 625px) {

  .login {
    border-radius: 10px;
    box-sizing: content-box;
    height: 90%;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right, #267871, #136a8a);
    box-shadow:0px 2px 10px rgba(0,0,0,0.2), 0px 10px 20px rgba(0,0,0,0.3), 0px 30px 60px 1px rgba(0,0,0,0.5);
  }
 
  .login-title {
    text-align: center;
    margin-top: 2vh;
    margin-right: 10vw;
    color: skyblue;
    font-family: 'Satisfy', cursive;
    height: 8vh;
    line-height: 8vh;
    padding-left: 5vw;
    font-weight: bolder;
    font-size: larger;
    /* color: white; */
  }

  .login-container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-color{
    /* background-color: #ABCDEF; */
    background-color: white;
    height: 100dvh;
  }
  .login-input-container{
    width: 80%;
  }
  .login-h3{
    color: white;
    text-align: center;
  }
  .login-input-container{
    width: 100%;
    height: 9dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2dvh;
    color: white;
  }
  .login-input{
   font-size: .9rem;
    height: 5dvh;
    width: 60dvw;
    border-top: none;
    border-left:none ;
    border-right: none;
    color: white;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
  }
  .login-input::placeholder{
    font-size: larger;
   color:white;
  }
  .login-btn{
  background: none;
  width: 25dvw;
  height:7dvh;
  border:2px solid white ;
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  }
  
  .login-btn:hover{
    background: white;
    color: #267871;
  }
  .forgot-password{
   text-decoration: none;
   color: white;
  }
  .or{
    color: white;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 4vh;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .or::before{
    content: " " ;
    display: block;
    position: absolute;
    margin-right: 37vw;
    height: 1px;
    width: 27vw;
   background: white;
  }
  
  .or::after{
    content: " " ;
    display: block;
    position: absolute;
    margin-left: 37vw;
    height: 1px;
    width: 27vw;
    background: white;
  }
  
  .login-btn-container{
    margin-top:5vh ;
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .click-here{
    font-weight: bold;
    color: #ABCDEF;
    text-decoration: none;
    margin-left: .4rem;
  }
  
}
