.receive-msg-container {
  margin-top: 1.7vh;

  }
  .msg-wrapper {
    width: 50%;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .receive-time {
    font-size: small;
    color: #5c6785;
    text-align: left;
    font-style: italic;
    margin: 2px 0px 0px 1.2vw;
    padding: 0px;
    width: 48vw;
  }
  .receive-message-content {
    color:  #5c6785;
    font-weight: bold;
    text-align: left;
    max-width: 50vw;
    font-size: large;
    padding: 0.9rem;
    /* border-radius: 27px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #f0f1f3;;
  }
  