@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Righteous&family=Satisfy&display=swap');
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success{
  background-color:#28a745;
  color: white;
 }
 .danger{
  background-color:#dc3545;
  color: white;

 }
 .warning{
  background-color: #ffc107;
  color: white;

 }
 .primary{
  background-color: #2176ff;
  color: white;

 }


 .success-outline{
  border: 1px solid #28a745;
  background-color:white;
  color: #28a745;
 }
 .danger-outline{
  border: 1px solid #dc3545;
  background-color:white;
  color: #dc3545;

 }
 .warning-outline{
  border: 1px solid #ffc107;
  background-color: white;
  color: #ffc107;

 }
 .primary-outline{
  border: 1px solid #2176ff;
  background-color: white;
  color: #2176ff;

 }